body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary, .nav-bar a {
    font-size: 18px;
    color: #E5E7EB
}

.button {
    background-color: #3882f6;
    color: #F9FAF8
}

.cta-button {

}

.testimonial {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937
}

.main-content-title {
    font-size: 36px;
    color: #1F2937
}

.call-to-action {
    background-color: #3882f6 ;
    text-align: center;
    border-radius: 15px;
    margin: 50px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.cta-button-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 75px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 75px;
    
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 10px;
    text-align: center;
    padding: 30px;
}

.main-content-title {
    display: flex;
    justify-content: center;
}

.main-content-images {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px
}

.content-images img {
    border-radius: 25px;
    border: 3px solid #3882f6;
    height: auto;
    width: 200px;
}
